# Python
__pycache__/
*.pyc
instance/
.env

# Flask
venv/
env/
*.sqlite3

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env

# macOS / Windows
.DS_Store
Thumbs.db

# Cache files
*.log
*.cache
frontend/node_modules/.cache/
